<!DOCTYPE html>
<html>
<head>
    <title>Welcome | AI Alarm</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <div class="glass welcome-box">

        <!-- 👤 PROFILE -->
        <img src="/static/profile.jpg" class="profile">

        <h1>👋 Welcome</h1>

        <h2>Shibnath Sahoo</h2>
        <p>CSE - AI & ML</p>
        <p>Brainware University</p>

        <button onclick="startApp()">🚀 Enter Project</button>

    </div>
</div>

<script>
function startApp(){
    window.location.href = "/";
}
</script>
<button onclick="startApp()">🚀 Enter Project</button>

<script>
function startApp(){
    window.location.href = "/home";
}
</script>
</body>
</html>